*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

.clearfix::after{
    content: '';
    display: table;
    clear: both;

}

body{
    font-family: 'Heebo', sans-serif;
}
/* default */


.big-container{
    width: 1000px;
    margin: 0 auto;
     
   
}




.logo img{
    height: 70px;
    padding-right: 30px;
    border-right: 1px solid #d7d7d7;
    padding-bottom: ;
}


nav{
    padding: 40px 0;
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 300;
}
nav a{
    text-decoration: none;
    color: #858585;
    
}
 nav a:hover{
     color: blue;
 }

 /* immagine hero */

 figure{
    position: relative;

}

.hero img {
    width: 100%;
    height: 700px;
    border-radius: 10px;
    filter: brightness(80%);
    
    
    
}

.description-image{
    width: 500px;
    position: absolute;
    bottom:200px ;
    left: 50px;
    max-width: 500px;
    
    


}

figure span, h1{
    color: white;
}




/* fine primo container */

/* inizio secondo container */

.container-2{
    margin-top: 50px;
    position: relative;

    
    

}


.title-table{
    font-size: 40px;
    color: black;
}

.box-title{
    color: lightgrey;
    font-size: 20px;
    margin: 10px 0px; 
}

/* fine contenitore 2 */




/* inizio contenitore 3 */


.content-box{
    width: calc (100% / 3);
}




.card2{
   
    width: 500px;
    height:500px;
    margin-right: 20px;
    
    

  }  

    
.card{
      
      width: 228px;
      height: 500px;
      margin-top: 15px;
      
      
}
      
      
      
      
.left{
    float: left;
}
      
     

    
.img1{
    width:225px;
    height: 230px;
    border-radius: 20px;
    margin-top: 40px;
    filter: brightness(80%);
    
    
    
}



.img2{
    width: 480px;
    height: 230px;
    margin-left: 20px;   
    border-radius: 20px;
    filter: brightness(80%);
    margin-top: 55px;
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    
    
    
    
    
    
    
    
    
    
}

.img3{
    width:300px;
    height: 230px;
    border-radius: 20px;
    margin-top: 40px;
    filter: brightness(80%);
    
    
    
}
    


/* fine contenitore 3 */





.ending{
    
    text-align: center;

}

footer{
    padding: 300px;
   
  
}

.heart{
    color: red;
}
    